<html dir="rtl">
	<head>
		<meta charset="utf-8">
	</head>
    <body dir="rtl">
		<h3>
			<strong>{$user->first_name} {$user->last_name}</strong> عزیز
		</h3>
		<p>
			درخواست شما برای تغییر رمز عبور ارسال شده است.
			به منظور تغییر رمز عبور لینک ارسال شده در این رایانامه را دنبال کنید.
		</p>
		<p>
			در صورتی که این درخواست توسط شما داده نشده یا دیگر نیازی به آن ندارید تنها این رایانامه را نادیده بگیرید.
		</p>
		<p>
			لینک تغییر رمز: <a href="{$callback}">{$callback}</a>
		</p>
    </body>
</html>