<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="ORM">
            <directory>tests/Pluf_DB/</directory>
            <directory>tests/Pluf_DB_Schema/</directory>
            <directory>tests/Pluf_SQL/</directory>
            <directory>tests/Pluf_Model/</directory>
        </testsuite>
        <testsuite name="Pluf">
            <directory>tests/Pluf/</directory>
            <directory>tests/Pluf_Crypt/</directory>
            <directory>tests/Pluf_Utils/</directory>
            <directory>tests/Pluf_User/</directory>
            <directory>tests/Pluf_Dispatcher/</directory>
            <directory>tests/Pluf_Encoder/</directory>
            <directory>tests/Pluf_Tenant/</directory>
            <directory>tests/Pluf_Tenant_Template/</directory>
            <directory>tests/Pluf_Setting_Template/</directory>
            <directory>tests/Pluf_Config/</directory> 
            <directory>tests/Pluf_Config_Template/</directory> 
            <directory>tests/Pluf_Mail/</directory>
            <directory>tests/Pluf_Paginator/</directory>
            <directory>tests/Pluf_Text_Wiki/</directory>
            <directory>tests/Pluf_Text_HTML_Filter/</directory>
            <directory>tests/Pluf_Form_Field/</directory>
            <directory>tests/Pluf_Migration/</directory>
		</testsuite>

        <testsuite name="View">
        </testsuite>
<!--             <directory>tests/Pluf_Text_LaTeX_Texvc/</directory> -->
<!--             <directory>tests/Pluf_Text_LaTeX/</directory> -->
<!--             <directory>tests/Pluf_Template_Compiler/</directory> -->
<!--             <directory>tests/Pluf_Template/</directory> -->
<!--             <directory>tests/Pluf_HTTP_URL/</directory> -->
<!--             <directory>tests/Pluf_HTTP_Response/</directory> -->
<!--             <directory>tests/Pluf_Gettext/</directory> -->
<!--             <directory>tests/Pluf_Form/</directory> -->
    </testsuites>
    
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>