<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Pluf">
            <directory>./Pluf/</directory>
            <directory>./Pluf_Crypt/</directory>
            <directory>./Pluf_Utils/</directory>
<!--             <directory>./Pluf_User/</directory> -->
<!--             <directory>./Pluf_Text_Wiki/</directory> -->
<!--             <directory>./Pluf_Text_LaTeX_Texvc/</directory> -->
<!--             <directory>./Pluf_Text_LaTeX/</directory> -->
            <directory>./Pluf_Text_HTML_Filter/</directory>
            <directory>./Pluf_Template_Compiler/</directory>
            <directory>./Pluf_Template/</directory>
            <directory>./Pluf_SQL/</directory>
            <directory>./Pluf_Paginator/</directory>
            <directory>./Pluf_Model/</directory>
            <directory>./Pluf_Migration/</directory>
            <directory>./Pluf_Mail/</directory>
            <directory>./Pluf_HTTP_URL/</directory>
            <directory>./Pluf_HTTP_Response/</directory>
            <directory>./Pluf_Gettext/</directory>
            <directory>./Pluf_Form/</directory>
            <directory>./Pluf_Form_Field/</directory>
            <directory>./Pluf_DB/</directory>
            <directory>./Pluf_DB_Schema/</directory>
            <directory>./Pluf_Dispatcher/</directory>
            <directory>./Pluf_Encoder/</directory>
            <directory>./Pluf_Tenant/</directory>
            <directory>./Pluf_Tenant_Template/</directory>
            <directory>./Pluf_Setting_Template/</directory>
            <directory>./Pluf_Config/</directory> 
            <directory>./Pluf_Config_Template/</directory> 
        </testsuite>
    </testsuites>
</phpunit>