<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Pluf">
            <directory>./Pluf_DB/</directory>
            <directory>./Pluf_DB_Schema/</directory>
            <directory>./Pluf_Dispatcher/</directory>
            <directory>./Pluf_Encoder/</directory>
        </testsuite>
    </testsuites>
</phpunit>